/* CSS Geral */
html {
	height: 100%;
	overflow:auto;
  	scroll-behavior: smooth;
}

body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, a, .nav-link{
	color: #f5c6a5 ;
}

a:hover, .nav-item:hover{
	cursor: pointer;
}

p{
	color: #ffffff;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #852747;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


/* Elementos de Load */
.loader{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #26ffb6;
	transition: all 2s ease;
}

.loader img{
	height: 10vh;
}

.box-loader{
	width: 100%;
	height: 65vh;
	text-align: center;
	margin-top: 35vh;
	padding: 2vh 0;
	text-align: center;
}

.img1-logo{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	z-index: 3;
}

.img2-logo{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	z-index: 1;
	transform: rotate(10deg) translate(0.5vw);
}

.heartbeat{
	animation: heartbeat 1.4s infinite;
	animation-timing-function: ease;
}

@keyframes heartbeat {
	0%
	{
		transform: scale( .85 );
	}
	20%
	{
		transform: scale( 1 );
	}
	40%
	{
		transform: scale( .85 );
	}
	60%
	{
		transform: scale( 1 );
	}
	100%
	{
		transform: scale( .85 );
	}
}

.loader.trans{
	opacity: 0;
	visibility: hidden;
}

/* Timer */
.box-timer{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 35vh;
	padding: 2vh 0;
	background-color: #e7e7e7;
	border: #000000 1px solid;
	border-radius: 15px;
	box-shadow: 15px 15px 15px #707070;
}

.box-timer h2{
	color: #000000;
}

.cover{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(145deg, #ff0000,#ff4646 100%);
	transition: all 1s ease;
}

.cover.trans{
	opacity: 0;
	visibility: hidden;
}

.content{
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
}

.visible{
	opacity: 1;
	visibility: visible;
}


button{
	transition: all 2s ease !important;
}

button.disabled{
	height: 0;
	visibility: hidden;
	position: absolute;
}

/* Navbar */
.navbar-default{
	background-color: #852747;
    box-shadow: 0px 0px 15px rgb(21 21 21 / 35%);
	width: 100%;
	transition: all 1.5s ease;
  	z-index: 10;
}

.navbar-default a{
	transition: all 0.5s ease;
}

.navbar-icon{
	margin: 20px;
}

.nav-link{
	display: inline-block;
}

@media(max-width:  991px){
	.navbar{
		padding: 0px;
	}
	.navbar-middle{
		display: none;
	}
	.nav-link{
    display: block;
	}
}

@media(min-width:  992px){
	.navbar-collapse{
		justify-content: center;
	}
	.navbar-icon{
		display: none;
	}
	.navbar-button{
		display: none;
	}
}

.navbar-middle{
	text-align: center;
}

.link-logo{
	margin: 0px;
}

.navbar-logo{
	height: 6vh;
}

.navbar-logo:hover, .navbar-logo:focus{
	animation: heartbeat-2 1.4s;
	animation-timing-function: ease;
}

@keyframes heartbeat-2 {
	0%
	{
		transform: scale( 1 );
	}
	20%
	{
		transform: scale( 1.25 );
	}
	40%
	{
		transform: scale( 1 );
	}
	60%
	{
		transform: scale( 1.25 );
	}
	100%
	{
		transform: scale( 1 );
	}
}

.navbar-default.fixed{
	position: fixed;
}

.navbar-button{
	width: 100px;
	height: 100px;
	margin-left: 3vw;
	background: #ce2c61 no-repeat url('../imgs/menu-inside.png');
	background-size: cover;
	border: none;
	border-radius: 20px;
	box-shadow: none;
}

.navbar-button:focus{
	outline: none;
}
@media(max-width:  993px){
	.navbar-collapse{
		position:  absolute;
		top:  95%;
		background-color: #852747;
		height: 100vh;
		width: 25vw;
		transition: all 0.5s ease;
		transform: translateX(-25vw);
	}

	.navbar-collapse.active{
		transform: translateX(0);
		transition: all 0.8s ease;
	}
}

@media(max-width:  530px){

	.navbar-collapse{
		width: 45vw;
		transform: translateX(-45vw);
	}

}

.nav-item{
	transition: all 0.5s ease;
}

.nav-item.nav-link:hover,.nav-item.nav-link.active{
	color: #f4aa63;
	transform: scale(1.1);
}

@media(max-width:  993px){
	.nav-item.nav-link:hover,.nav-item.nav-link.active{
		color: #f4aa63;
		transform: translateX(2vw);
	}
}

/* Section Geral */
section{
	min-height: 400px;
	height: 100vh;
}

/* Section home */
.section-home{
	text-align: center;
	background-repeat: no-repeat;
	background-image: url('../imgs/home.png');
	background-size: cover;
	background-position: center;
}

@media(max-width:  600px){
	.section-home{
		background-size: cover;
	}
}

.home-filter{
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	background-image:linear-gradient(to bottom, #aa305a, #852747);
	opacity: 0.5;
 	z-index: 2;
}

.section-home, .home-filter{
	height: 100vh;
}

@media(max-width:  530px){
	section{
		height: auto;
		padding: 5vh 0;
	}
	.section-home, .home-filter{
		height: 80vh;
	}
}

.home-text{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
 	z-index: 3;
}

.home-text h1, .home-text h3{
	color: #f5c6a5;
	text-shadow: 3px 1px 1px #852747;
}

/* Section Começo */
.wave-1 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
  	background-image:linear-gradient(to bottom, #d02c64, #c72c57);
}

.wave-1 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.wave-1 .shape-fill {
    fill: #852747;
}

.section-comeco{
	  background-image:linear-gradient(to bottom, #c72c57, #A52649);
}

.img-comeco{
	width: 100%;
}

/* Section Musicas */
.wave-2 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 223.3px);
    height: 82px;
	  background-image:linear-gradient(to bottom, #dd003d, #f53267);
}

.wave-2 .shape-fill {
    fill: #A52649;
}

.section-musicas{
	  background-image:linear-gradient(to bottom, #f53267, #FF7777);
}

/* Section Livros */
.wave-3 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
	  background-image:linear-gradient(to bottom, #ff6060, #fc4d7d);
}

.wave-3 .shape-fill {
    fill: #FF7777;
}

.section-livros{
	  background-image:linear-gradient(to bottom, #fc4d7d, #FF3333);
}

/* Section Timeline */
.wave-4 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-4 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
	  background-image:linear-gradient(to bottom, #fa5547, #f94c3b);
}

.wave-4 .shape-fill {
    fill: #FF3333;
}

.section-timeline{
	  background-image:linear-gradient(to bottom, #f94c3b, #852747);
	  height: calc(100vh - 93px - 72px);
}

/* Section Final */
.wave-5 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-5 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 70px;
	  background-image:linear-gradient(to bottom, #852745, #b9264f);
}

.wave-5 .shape-fill {
    fill: #852747;
}

.section-final{
	  background-image:linear-gradient(to bottom, #b9264f, #852747);
}

/* Footer */
footer{
    vertical-align: middle;
    height: 60px;
    width: 100vw;
    background-color: #36454f;
    color: #f5c6a5;
    display: table-cell;
  	vertical-align: middle;
  	padding: 0 1em;
}

footer p{
	margin: 0;
}