/* CSS Geral */
html {
  scroll-behavior: smooth;
}

/* Elementos de Load */
.loader{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #26ffb6;
	transition: all 2s ease;
}

.loader img{
	height: 10vh;
}

.box-loader{
	width: 100%;
	height: 65vh;
	text-align: center;
	margin-top: 35vh;
	padding: 2vh 0;
	text-align: center;
}

.img1-logo{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	z-index: 3;
}

.img2-logo{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	z-index: 1;
	transform: rotate(10deg) translate(0.5vw);
}

.heartbeat{
	animation: heartbeat 1.4s infinite;
	animation-timing-function: ease;
}

@keyframes heartbeat {
	0%
	{
		transform: scale( .85 );
	}
	20%
	{
		transform: scale( 1 );
	}
	40%
	{
		transform: scale( .85 );
	}
	60%
	{
		transform: scale( 1 );
	}
	100%
	{
		transform: scale( .85 );
	}
}

.loader.trans{
	opacity: 0;
	visibility: hidden;
}

/* Timer */
.box-timer{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 35vh;
	padding: 2vh 0;
	background-color: #e7e7e7;
	border: #000000 1px solid;
	border-radius: 15px;
	box-shadow: 15px 15px 15px #707070;
}

.cover{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(145deg, #ff0000,#ff4646 100%);
	transition: all 1s ease;
}

.cover.trans{
	opacity: 0;
	visibility: hidden;
}

.content{
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
}

.visible{
	opacity: 1;
	visibility: visible;
}


button{
	transition: all 2s ease !important;
}

button.disabled{
	height: 0;
	visibility: hidden;
	position: absolute;
}

/* Navbar */
.navbar-default{
	background-color: #852747;
}

.navbar-default a{
	transition: all 0.5s ease;
}

.navbar-logo{
	height: 5vh;
}

.navbar-logos:hover{
	animation: heartbeat-2 1.4s;
	animation-timing-function: ease;
}

@keyframes heartbeat-2 {
	0%
	{
		transform: scale( 1 );
	}
	20%
	{
		transform: scale( 1.25 );
	}
	40%
	{
		transform: scale( 1 );
	}
	60%
	{
		transform: scale( 1.25 );
	}
	100%
	{
		transform: scale( 1 );
	}
}

.navbar-logo:nth-child(2){
	position: relative;
	margin-left: 10px;
}

.nav-link{
	display: inline-block;
	color: #F5C6A5;
}

a.nav-item.nav-link:hover{
	color: #f4aa63;
	transform: scale(1.1);
}

/* Section Geral */
section{
	height: 100vh;
}

/* Section home */